.slider {
  position: relative;
  display: flex;
  margin: auto;
}

.image {
  width: 100vh;
  border-radius: 10px;
}

.right_arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 5vh;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left_arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 5vh;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

@media screen and (max-width: 1300px) {
  .image {
    width: 60vh;
    border-radius: 10px;
  }
}

@media screen and (max-width: 800px) {
  .image {
    width: 40vh;
    border-radius: 10px;
  }
}
