div.page {
  div.mapstyle {
    height: 50vh;
    width: 100%;
  }
}
@media screen and (max-width: 1270px) {
  div.page {
    div.mapstyle {
      height: 35vh;
      width: 100%;
    }
  }
}

@media screen and (max-width: 500px) {
  div.page {
    div.mapstyle {
      height: 30vh;
      width: 100%;
    }
  }
}
