div.background_page {
  overflow-x: hidden;
  background-color: rgba(231, 228, 228, 0.863);
  height: 100vh;
  div.page2 {
    padding-top: 30px;
    div.page {
      width: 1100px;
      margin: auto;
      background-image: url(/coffeebackground4.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top bottom;
      height: 1550px;
      div.coffee_shop {
        width: 97%;
        margin: auto;
        margin-left: 40px;
        display: grid;
        grid-template-columns: 48% 50% 5%;

        div.coffee_menu {
          margin-top: 150px;
          margin-left: 10px;

          h1 {
            color: white;
            text-decoration: underline 2px;
          }
          span.details {
            line-height: 2;
            display: grid;
            grid-template-columns: 70% 30%;
            margin: auto;
            span.title {
              display: flex;
              flex-direction: column;
              color: white;
              font-size: 25px;
              span {
                margin-bottom: 15px;
              }
            }
            span.price {
              display: flex;
              flex-direction: column;
              color: white;
              font-size: 25px;
              margin-right: 10px;
              span {
                margin-bottom: 15px;
              }
            }
          }
        }
        div.button {
          height: 1200px;
          button {
            position: relative;
            top: 50%;
            border: none;
            background-color: transparent;
            right: 100%;
            i {
              font-size: 25px;
              color: white;

              border: 1px solid black;
              background-color: black;
              padding: 13px;
              border-radius: 10px;
              text-align: center;
              transition: 0.4s;
              cursor: pointer;
              &:hover {
                font-size: 28px;
                padding: 15px;
                border: 1px solid white;
                background-color: white;
                color: black;
              }
              &:active {
                transition: 0.05s;
                opacity: 30%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  div.background_page {
    div.page2 {
      div.page {
        width: 900px;

        height: 1270px;
        div.coffee_shop {
          grid-template-columns: 47% 50% 5%;
          div.coffee_menu {
            h1 {
              font-size: 25px;
            }
            span.details {
              span.title {
                font-size: 20.3px;
                span {
                }
              }
              span.price {
                font-size: 20.3px;
                span {
                }
              }
            }
          }
          div.button {
            button {
              i {
                &:hover {
                }
                &:active {
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  div.background_page {
    div.page2 {
      div.page {
        width: 750px;

        height: 1050px;
        div.coffee_shop {
          div.coffee_menu {
            h1 {
              font-size: 25px;
            }
            span.details {
              grid-template-columns: 65% 35%;
              span.title {
                font-size: 15px;
                span {
                }
              }
              span.price {
                font-size: 15px;
                span {
                }
              }
            }
          }
          div.button {
            height: 100%;
            button {
              right: 120%;
              i {
                font-size: 20px;
                &:hover {
                }
                &:active {
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  div.background_page {
    margin-top: 20px;
    div.page2 {
      div.page {
        width: 750px;

        height: 1050px;
        div.coffee_shop {
          div.coffee_menu {
            h1 {
              font-size: 25px;
            }
            span.details {
              grid-template-columns: 65% 35%;
              span.title {
                font-size: 15.7px;
                span {
                }
              }
              span.price {
                margin-left: 10px;
                font-size: 15.7px;
                span {
                }
              }
            }
          }
          div.button {
            height: 800px;
            button {
              right: 120%;
              i {
                font-size: 20px;
                &:hover {
                }
                &:active {
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  div.background_page {
    margin-top: 20px;
    div.page2 {
      div.page {
        width: 600px;

        height: 850px;
        div.coffee_shop {
          div.coffee_menu {
            margin-top: 100px;

            h1 {
              font-size: 20px;
            }
            span.details {
              grid-template-columns: 65% 35%;
              span.title {
                font-size: 12.5px;
                span {
                }
              }
              span.price {
                margin-left: 5px;
                font-size: 12.5px;
                span {
                }
              }
            }
          }
          div.button {
            button {
              right: 120%;
              i {
                font-size: 20px;
                &:hover {
                }
                &:active {
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 620px) {
  div.background_page {
    margin-top: 20px;
    overflow-x: hidden;

    div.page2 {
      div.page {
        width: 505px;

        height: 710px;
        div.coffee_shop {
          grid-template-columns: 45% 50% 5%;
          div.coffee_menu {
            margin-top: 50px;

            h1 {
              font-size: 18px;
            }
            span.details {
              span.title {
                font-size: 10.4px;
                margin-right: 0px;
                span {
                }
              }
              span.price {
                margin-left: 5px;
                font-size: 10.4px;
                span {
                }
              }
            }
          }
          div.button {
            height: 700px;
            button {
              padding: 5px;
              right: 200%;
              i {
                padding: 8px;
                font-size: 15px;
                &:hover {
                  padding: 7px;
                }
                &:active {
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {
  div.background_page {
    div.page2 {
      div.page {
        width: 405px;

        height: 570px;
        div.coffee_shop {
          margin-left: 30px;
          div.coffee_menu {
            margin-top: 30px;

            h1 {
              font-size: 12px;
            }
            span.details {
              grid-template-columns: 65% 35%;
              span.title {
                font-size: 8.2px;
                span {
                }
              }
              span.price {
                margin-left: 5px;
                font-size: 8.2px;
                span {
                }
              }
            }
          }
          div.button {
            height: 500px;
            button {
              right: 200%;
              i {
                padding: 8px;
                font-size: 15px;
                &:hover {
                }
                &:active {
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  div.background_page {
    margin-top: 20px;
    overflow-x: hidden;

    div.page2 {
      div.page {
        width: 350px;
        height: 498px;

        div.coffee_shop {
          margin-left: 30px;
          div.coffee_menu {
            margin-top: 30px;

            h1 {
              font-size: 10px;
            }
            span.details {
              grid-template-columns: 65% 35%;
              span.title {
                font-size: 7px;
                span {
                }
              }
              span.price {
                margin-left: 5px;
                font-size: 7px;
                span {
                }
              }
            }
          }
          div.button {
            height: 500px;
            button {
              right: 200%;
              i {
                padding: 8px;
                font-size: 15px;
                &:hover {
                }
                &:active {
                }
              }
            }
          }
        }
      }
    }
  }
}
